html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
.all-content {
  background: #f7f5f2;
}
html::-webkit-scrollbar-track {
  background: #f4d8b4;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #b2744c;
  border-radius: 10px;
  border: 2px solid #e2c09b;
}

html::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #8b5a3b;
}

/* navbar */
#navbar {
  background-color: #f4d8b4;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  position: relative;
  z-index: 10;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  margin: 10px auto;
  width: calc(100% - 40px);
  border-radius: 10px;
}

#navbar:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

#logo img {
  border-radius: 10px;
  width: 160px;
  margin-left: 40px;
  transition: transform 0.5s ease;
}

#logo img:hover {
  transform: scale(1.1) rotate(-5deg);
}

.navbar-nav {
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item .nav-link {
  color: #5a3e2b;
  margin-left: 10px;
  font-weight: bold;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 1;
}

.nav-item .nav-link:hover {
  background: #fff8f2;
  color: #4a2c1a;
  border-color: #f4d8b4;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.nav-item .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff8f2;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
  z-index: -1;
}

.nav-item .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-item .nav-link.active {
  background: #fff8f2;
  color: #4a2c1a;
  font-weight: bold;
  border-color: #f4d8b4;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

#navbar form {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

#navbar form input {
  padding: 10px 15px;
  border: 2px solid #f4d8b4;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  width: 250px;
  transition: all 0.4s ease-in-out;
}

#navbar form input:focus {
  border-color: #fff8f2;
  box-shadow: 0 0 5px rgba(244, 216, 180, 0.7);
}

#navbar form input::placeholder {
  color: #f4d8b4;
  font-style: italic;
}

#navbar form button {
  background: linear-gradient(135deg, #f4d8b4, #fff8f2);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#navbar form button:hover {
  background: #f4d8b4;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 835px) and (max-width: 1115px) {
  #navbar {
    padding: 10px;
    margin: 10px auto;
    width: calc(100% - 40px);
  }

  #logo img {
    width: 120px;
    margin-left: -10px;
    margin-bottom: 8px;
  }

  .navbar-nav {
    margin-left: 0;
    flex-direction: row;
    align-items: flex-start;
  }

  .nav-item .nav-link {
    width: 60px;
    padding: 4px 10px;
    font-size: 14px;
    text-align: center;
  }

  #navbar form {
    flex-direction: row;
    gap: 5px;
    align-items: stretch;
  }

  #navbar form input {
    width: 250px;
  }

  #navbar form button {
    width: 100%;
  }
}

@media (max-width: 835px) {
  #navbar {
    padding: 10px;
    margin: 10px auto;
    width: calc(100% - 40px);
  }

  #logo img {
    width: 120px;
    margin-left: -10px;
    margin-bottom: 8px;
  }

  .navbar-nav {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item .nav-link {
    width: 80px;
    padding: 4px 10px;
    font-size: 14px;
    text-align: center;
  }

  #navbar form {
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
  }

  #navbar form input {
    width: 100%;
  }

  #navbar form button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #logo img {
    width: 100px;
    margin-left: -0px;
    margin-bottom: 8px;
  }

  .nav-item .nav-link {
    width: 80px;
    padding: 4px 10px;
    font-size: 14px;
    text-align: center;
  }

  #navbar form {
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
  }

  #navbar form input {
    width: 100%;
  }

  #navbar form button {
    width: 100%;
  }
}

/* navbar */

/* top cards */
.top-cards {
  width: 100%;
  /* height: 60vh; */
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
  padding: 40px 0;
}

.heading2 {
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading2 span {
  color: #b2744c;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.top-cards .container {
  margin-top: 30px;
}

.top-cards .card {
  border-radius: 12px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.top-cards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.top-cards .card h3 {
  text-align: center;
  padding-top: 78px;
  color: white;
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 24px;
  letter-spacing: 1px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Instagram Icon Style */
.top-cards .card .instagram-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  color: #b2744c !important;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
}

.top-cards .card .instagram-icon a {
  color: white !important; /* Brown color */
}

.top-cards .card:hover .instagram-icon {
  opacity: 1;
  transform: translateY(0);
}

.top-cards .card:hover {
  transform: translateY(-10px);
}

.top-cards .card:hover img {
  transform: scale(1.1);
}

.top-cards .card:hover h3 {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 767px) {
  .top-cards {
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .top-cards {
    margin-bottom: 10px;
  }
}

@media (max-width: 370px) {
  .top-cards {
    margin-bottom: 10px;
  }
}

/* top cards */

/* Styling untuk tombol kategori */
.category-btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  color: #fff;
}

.category-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Warna tombol berdasarkan kategori */
.category-btn.btn-primary {
  background: #007bff;
}

.category-btn.btn-primary:hover {
  background: #0056b3;
}

.category-btn.btn-secondary {
  background: #6c757d;
}

.category-btn.btn-secondary:hover {
  background: #565e64;
}

.category-btn.btn-success {
  background: #28a745;
}

.category-btn.btn-success:hover {
  background: #1e7e34;
}

.category-btn.btn-warning {
  background: #ffc107;
  color: #212529;
}

.category-btn.btn-warning:hover {
  background: #e0a800;
}

.category-btn.btn-info {
  background: #17a2b8;
}

.category-btn.btn-info:hover {
  background: #117a8b;
}

.category-btn.btn-dark {
  background: #343a40;
}

.category-btn.btn-dark:hover {
  background: #23272b;
}

/* Responsive styling */
@media (max-width: 768px) {
  .category-btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}

/* menu */
.menu {
  width: 100%;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
  margin-top: 40px;
}
.heading3 {
  text-align: center;
  font-size: 30px;
  color: #b2744c;
  font-weight: bold;
  border-bottom: 2px solid #b2744c;
}
#container2 {
  margin-top: 20px;
}
.menu .card {
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star i {
  color: #b2744c;
}
.menu h3 {
  color: #b2744c;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.menu p {
  font-size: 16px;
  color: #b2744c;
  padding-top: 10px;
}
.menu p span {
  float: right;
  cursor: pointer;
}

.menu-category .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-category .col-md-3 {
  flex: 1 1 calc(25% - 20px); /* Default: 4 items per row */
  max-width: calc(25% - 20px);
  margin: 10px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 10px;
}

/* Responsiveness */

@media (max-width: 1440px) and (min-width: 1024px) {
  .menu-category .col-md-3 {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .menu {
    margin-top: 30px;
  }
  .menu-category .col-md-3 {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .menu {
    margin-top: 30px; /* Mengurangi jarak atas agar lebih rapat */
    margin-bottom: 50px; /* Menambahkan sedikit jarak bawah */
  }
  .menu-category .col-md-3 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* menu */

/* footer */
#footer {
  width: 100%;
  background: #f4d8b4;
  margin-top: 50px;
  padding: 20px 40px;
  font-family: "Roboto", sans-serif;
}

.footer-logo img {
  width: 160px;
  margin-top: 30px;
  cursor: pointer;
}

#footer .socail-links i {
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: #5a3e2b;
  color: #fff8f2;
  border-radius: 0;
  cursor: pointer;
}

.credite {
  color: #5a3e2b;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.credite a {
  text-decoration: none;
  color: #4a2c1a;
  font-weight: bold;
}

.copyright span {
  color: #4a2c1a;
}
/* footer */

.arrow {
  position: fixed;
  border-radius: 50px;
  height: 100px;
  bottom: -60px; /* Start below the viewport */
  right: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  display: none; /* Initially hidden */
  z-index: 1000;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

/* Add visible class to show the arrow with animation */
.arrow.visible {
  display: block;
  bottom: 40px; /* Move it up to the final position */
  opacity: 1; /* Make it visible */
  animation: slideUp 0.5s ease-out forwards; /* Apply animation */
}

/* Keyframe for the slide-up animation */
@keyframes slideUp {
  0% {
    bottom: -60px; /* Start below the screen */
    opacity: 0; /* Invisible */
  }
  100% {
    bottom: 40px; /* End at the desired position */
    opacity: 1; /* Fully visible */
  }
}
